<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UM_MSG_000001</key>
	<string>编号不能为空，请输入!</string>
	<key>UM_MSG_000002</key>
	<string>编号输入错误，请重新输入!</string>
    <key>UM_MSG_000003</key>
    <string>账号或密码错误，请重新输入!</string>
    <key>UM_MSG_000004</key>
    <string>账号不能为空，请输入!</string>
    <key>UM_MSG_000005</key>
    <string>密码不能为空，请输入!</string>
    <key>UM_MSG_000006</key>
    <string>新密码不能为空，请输入!</string>
    <key>UM_MSG_000007</key>
    <string>原密码不正确，请重新输入!</string>
    <key>UM_MSG_000008</key>
    <string>两次输入的密码不一致，请重新输入!</string>
    <key>UM_MSG_000009</key>
    <string>此编号未注册，请注册之后再登录!</string>
    <key>UM_MSG_000010</key>
    <string>此账号未注册，请注册之后再登录!</string>
    <key>UM_MSG_000011</key>
    <string>用户名已存在，请重新设置!</string>
    <key>UM_MSG_000012</key>
    <string>登陆者不能删除自己!</string>
    <key>UM_MSG_000013</key>
    <string>有营业数据的员工不允许删除!</string>
    <key>UM_MSG_000014</key>
    <string>此帐号没有权限，请联系管理员!</string>
    <key>UM_MSG_000015</key>
    <string>密码大于8位小于15位!</string>
    <key>UM_MSG_000016</key>
    <string>证件图片不能超过2张!</string>
    <key>UM_MSG_000017</key>
    <string>该员工作为主盘点员在进行库存盘点，请盘点结束后再删除!</string>
    
    <key>GM_MSG_000001</key>
    <string>商品名不能为空，请输入!</string>
    <key>GM_MSG_000002</key>
    <string>条形码未输入，确定要输入无码商品吗？</string>
    <key>GM_MSG_000003</key>
    <string>商品零售价不能为空，请输入!</string>
    <key>GM_MSG_000004</key>
    <string>商品库存数不能为空，请输入!</string>
    <key>GM_MSG_000005</key>
    <string>商品入库门店不能为空，请选择!</string>
    <key>GM_MSG_000006</key>
    <string>商品内容更新失败!</string>
    <key>GM_MSG_000007</key>
    <string>商品内容添加失败!</string>
    <key>GM_MSG_000008</key>
    <string>输入的商品不存在，是否需要添加此商品信息？</string>
    <key>GM_MSG_000009</key>
    <string>确定要删除商品信息吗？</string>
    <key>GM_MSG_000010</key>
    <string>该商品有库存数据，不能删除!</string>
    <key>GM_MSG_000011</key>
    <string>输入的条形码已经存在，是否继续添加一码多品的商品？</string>
    <key>GM_MSG_000012</key>
    <string>分类名称不能为空，请选择!</string>
    <key>GM_MSG_100012</key>
    <string>品类名称不能为空，请选择!</string>
    <key>GM_MSG_000013</key>
    <string>分类名称已经存在，请使用其他名称!</string>
    <key>GM_MSG_100013</key>
    <string>商品品类已经存在，请使用其他名称!</string>
    <key>GM_MSG_000014</key>
    <string>拥有子分类的分类，不能被删除!</string>
    <key>GM_MSG_100014</key>
    <string>拥有子品类的品类，不能被删除!</string>
    <key>GM_MSG_000015</key>
    <string>分类名称已被商品使用，删除分类，将使部分商品丢失分类信息。确定要删除吗？</string>
    <key>GM_MSG_100015</key>
    <string>品类名称已被款式使用，删除品类，将使部分商品丢失品类信息。确定要删除吗？</string>
    <key>GM_MSG_000016</key>
    <string>加工商品的规则数量必须为大于0的整数，请重新输入!</string>
    <key>GM_MSG_000017</key>
    <string>本次加工数量必须为规则数量的整数倍，请重新输入!</string>
    <key>GM_MSG_000018</key>
    <string>商品数量必须为大于0的整数，请重新输入!</string>
    <key>GM_MSG_000019</key>
    <string>零售价必须大于0，请重新输入!</string>
    <key>GM_MSG_000020</key>
    <string>零售价小于进货价，确定要保存吗？</string>
    <key>GM_MSG_000021</key>
    <string>提成比率不能为负数，请重新输入!</string>
    <key>GM_MSG_000022</key>
    <string>折扣率要大于0，请重新输入!</string>
    <key>GM_MSG_000023</key>
    <string>商品简码已存在，请重新输入!</string>
    <key>GM_MSG_000024</key>
    <string>该商品已被删除!</string>
    <key>GM_MSG_000025</key>
    <string>分类编码已经存在，请使用其他编码!</string>
    <key>GM_MSG_100025</key>
    <string>品类编号已经存在，请使用其他编号!</string>
    <key>GM_MSG_000026</key>
    <string>特价要大于0，请重新输入!</string>
    <key>GM_MSG_000027</key>
    <string>该商品加工规则已存在!</string>
    <key>GM_MSG_000028</key>
    <string>该商品拆分规则已存在!</string>
    <key>GM_MSG_000029</key>
    <string>该商品组装规则已存在!</string>
    <key>GM_MSG_000030</key>
    <string>输入的条形码不能以200开头，请重新输入!</string>
    <key>GM_MSG_000031</key>
    <string>商品正在导入中，无法进行该操作、请稍候再试!</string>
    <key>GM_MSG_000032</key>
    <string>微信分类名称已经存在，请使用其他名称。</string>
    <key>GM_MSG_000033</key>
    <string>品牌名称已存在，请使用其他名称!</string>
    <key>GM_MSG_000034</key>
    <string>品牌编码已存在，请使用其他编码!</string>
    <key>GM_MSG_000035</key>
    <string>品牌名称已被商品使用，无法删除!</string>
    <key>GM_MSG_000036</key>
    <string>名称已存在，请使用其他名称!</string>
    <key>GM_MSG_000037</key>
    <string>编码已存在，请使用其他编码!</string>
    <key>GM_MSG_000038</key>
    <string>操作的属性已被商品使用，无法删除。</string>
    <key>GM_MSG_000039</key>
    <string>属性名称已存在，请使用其他名称!</string>
    <key>GM_MSG_000040</key>
    <string>属性值编号已存在，请使用其他编号!</string>
    <key>GM_MSG_000041</key>
    <string>属性值名称已存在，请使用其他名称!</string>
    <key>GM_MSG_000042</key>
    <string>操作数据不存在或者已被删除!</string>
    <key>GM_MSG_000043</key>
    <string>属性下包含属性类型或者属性值，请先清空属性，否则无法删除。</string>
    <key>GM_MSG_000044</key>
    <string>属性类型下包含属性值，请先清空属性类型，否则无法删除。</string>
    <key>GM_MSG_000045</key>
    <string>店内码规则正在使用，无需重复开启。</string>
    <key>GM_MSG_000046</key>
    <string>属性不存在或已被删除。</string>
    <key>GM_MSG_000047</key>
    <string>店内码规则内存在重复数据（属性id或者顺序码)</string>
    <key>GM_MSG_000048</key>
    <string>该商品已下架!</string>
    <key>GM_MSG_000049</key>
    <string>无效的店内码规则!</string>
    <key>GM_MSG_000050</key>
    <string>服务器文件错误!</string>
    <key>GM_MSG_000051</key>
    <string>单位名称已被商品使用，无法删除!</string>
    <key>GM_MSG_000052</key>
    <string>相同条形码的商品名称不能重复!</string>
    <key>GM_MSG_000053</key>
    <string>已存在该款号的其它款式!</string>
    <key>GM_MSG_000054</key>
    <string>同一款式下存在相同的色称或色号!</string>
    <key>GM_MSG_000055</key>
    <string>同一款式下存在相同的尺码或尺码编号!</string>
<!--    <key>GM_MSG_000056</key>-->
<!--    <string></string>-->
    <key>GM_MSG_000057</key>
    <string>该款式已在实体店下架，无法加到微店销售!</string>
    <key>GM_MSG_000058</key>
    <string>单位名称已存在，请使用其他名称!</string>
    <key>GM_MSG_000059</key>
    <string>该分类不是有效子分类，请重新选择!</string>
    <key>GM_MSG_000060</key>
    <string>该商品设置了拆分或组装或加工规则，请先删除已创建的规则再删除商品!</string>
    <key>GM_MSG_000061</key>
    <string>部分商品设置了拆分或组装或加工规则，请先删除已创建的规则再删除商品!</string>
    <key>GM_MSG_000062</key>
    <string>选择的大件商品已存在拆分规则，不能添加!</string>
    <key>GM_MSG_000063</key>
    <string>选择的大件商品已存在组装规则，不能添加!</string>
    <key>GM_MSG_000064</key>
    <string>选择的大件商品已存在加工规则，不能添加!</string>
    <key>GM_MSG_000065</key>
    <string>选择的小件商品已存在拆分规则，不能添加!</string>
    <key>GM_MSG_000066</key>
    <string>选择的小件商品已存在组装规则，不能添加!</string>
    <key>GM_MSG_000067</key>
    <string>选择的小件商品已存在加工规则，不能添加!</string>
    <key>GM_MSG_000068</key>
    <string>选择的加工商品已存在拆分规则，不能添加!</string>
    <key>GM_MSG_000069</key>
    <string>选择的加工商品已存在组装规则，不能添加!</string>
    <key>GM_MSG_000070</key>
    <string>选择的加工商品已存在加工规则，不能添加!</string>
    <key>GM_MSG_000071</key>
    <string>选择的原料商品已存在拆分规则，不能添加!</string>
    <key>GM_MSG_000072</key>
    <string>选择的原料商品已存在组装规则，不能添加!</string>
    <key>GM_MSG_000073</key>
    <string>选择的原料商品已存在加工规则，不能添加!</string>
    <key>GM_MSG_000074</key>
    <string>选择的大件商品是散装称重商品，不能进行组装!</string>
    <key>GM_MSG_000075</key>
    <string>选择的加工商品是散装称重商品，不能进行加工!</string>
    <key>GM_MSG_000076</key>
    <string>选择的大件商品是散装称重商品，不能进行拆分!</string>
    
    <key>LM_MSG_000001</key>
    <string>订货单添加失败!</string>
    <key>LM_MSG_000002</key>
    <string>订货单更新失败!</string>
    <key>LM_MSG_000003</key>
    <string>入库单更新失败!</string>
    <key>LM_MSG_000004</key>
    <string>出库单更新失败!</string>
    <key>LM_MSG_000005</key>
    <string>删除后不可恢复!是否要删除此订单？</string>
    <key>LM_MSG_000006</key>
    <string>请选择供应商!</string>
    <key>LM_MSG_000007</key>
    <string>请选择调入门店!</string>
    <key>LM_MSG_000008</key>
    <string>请选择退货原因!</string>
    <key>LM_MSG_000009</key>
    <string>调拨数不能大于库存数，请重新输入!</string>
    <key>LM_MSG_000010</key>
    <string>订货数量必须大于0，请重新输入!</string>
    <key>LM_MSG_000011</key>
    <string>到货日不得小于今日，请重新输入!</string>
    <key>LM_MSG_000012</key>
    <string>进货数量必须大于0，请重新输入!</string>
    <key>LM_MSG_000013</key>
    <string>生产日期不能大于今日，请重新输入!</string>
    <key>LM_MSG_000014</key>
    <string>确定要收货吗？</string>
    <key>LM_MSG_000015</key>
    <string>确定要拒绝收货吗？</string>
    <key>LM_MSG_000016</key>
    <string>请选择退货原因。</string>
    <key>LM_MSG_000017</key>
    <string>退货数量不能大于库存数量，请重新输入!</string>
    <key>LM_MSG_000018</key>
    <string>您添加的退货原因已经存在，请修改。</string>
    <key>LM_MSG_000019</key>
    <string>调出门店和调入门店相同，请重新选择。</string>
    <key>LM_MSG_000020</key>
    <string>该订货单已确认，不可操作!</string>
    <key>LM_MSG_000021</key>
    <string>该进货单已确认收货或拒绝收货，不可操作!</string>
    <key>LM_MSG_000022</key>
    <string>该退货单已确认收货或拒绝收货，不可操作!</string>
    <key>LM_MSG_000023</key>
    <string>该调拨单已确认收货或拒绝收货，不可操作!</string>
    <key>LM_MSG_000024</key>
    <string>退货数量必须大于0，请重新输入!</string>
    <key>LM_MSG_000025</key>
    <string>调拨数量必须大于0，请重新输入!</string>
    <key>LM_MSG_000026</key>
    <string>成功创建订单：【{1}】</string>
    <key>LM_MSG_000027</key>
    <string>成功创建配送单：【{1}】</string>
    <key>LM_MSG_000028</key>
    <string>成功创建进货单：【{1}】</string>
    <key>LM_MSG_000029</key>
    <string>成功创建调拨单：【{1}】</string>
    <key>LM_MSG_000030</key>
    <string>成功创建退货单：【{1}】</string>
    <key>LM_MSG_000031</key>
    <string>该供应商存在出入库记录，不能删除</string>
    <key>LM_MSG_000032</key>
    <string>供应商编码重复!</string>
    <key>LM_MSG_000033</key>
    <string>供应商简名重复!</string>
    <key>LM_MSG_000034</key>
    <string>账户余额不足，无法叫货!</string>
    <key>LM_MSG_000035</key>
    <string>调出门店或者调入门店必须一个为本门店!</string>
    <key>LM_MSG_000036</key>
    <string>不能选择所属机构的仓库作为供应商!</string>
    <key>LM_MSG_000037</key>
    <string>当天的箱号不能重复，请重新输入!</string>
    <key>LM_MSG_000038</key>
    <string>成功创建装箱单：【{1}】</string>
    <key>LM_MSG_000039</key>
    <string>该装箱单已发货，不可操作!</string>
    <key>LM_MSG_000040</key>
    <string>该类别已经被使用，不可删除。</string>
    <key>LM_MSG_000041</key>
    <string>供应商名称重复。</string>
    <key>LM_MSG_000042</key>
    <string>退货量大于退货指导数量，请修改数量!</string>
    <key>LM_MSG_000043</key>
    <string>仓库没有此款式!</string>
    <key>LM_MSG_000044</key>
    <string>调入门店没有此款式!</string>
    <key>LM_MSG_000045</key>
    <string>该原因已被使用，不能删除!</string>
    <key>LM_MSG_000046</key>
    <string>该原因已被删除!</string>
    <key>LM_MSG_000047</key>
    <string>退货指导以外的商品无法退货，请修改!</string>
    <key>LM_MSG_000048</key>
    <string>该款式已存在!</string>
    <key>LM_MSG_000049</key>
    <string>退货类别已经被使用，不能删除!</string>
    <key>LM_MSG_000050</key>
    <string>该退货类别已被删除!</string>
    <key>LM_MSG_000051</key>
    <string>已存在该退货类型，请修改!</string>
    <key>LM_MSG_000052</key>
    <string>您添加的客单备注已经存在，请修改!</string>
    <key>LM_MSG_000053</key>
    <string>该退货类别存在未确认的退货单，不能修改!</string>
    
    <key>SM_MSG_000001</key>
    <string>库存调整失败!</string>
    <key>SM_MSG_000002</key>
    <string>盘点已经开始，不能重复开始盘点!</string>
    <key>SM_MSG_000003</key>
    <string>无法结束盘点!</string>
    <key>SM_MSG_000004</key>
    <string>清除盘点失败!</string>
    <key>SM_MSG_000005</key>
    <string>您提交的商品在本区域内已盘点，是否覆盖之前的盘点记录？</string>
    <key>SM_MSG_000006</key>
    <string>开始盘点失败!</string>
    <key>SM_MSG_000007</key>
    <string>盘点商品搜索失败!</string>
    <key>SM_MSG_000008</key>
    <string>提交盘点商品信息失败!</string>
    <key>SM_MSG_000009</key>
    <string>汇总门店盘点商品信息结果报告失败!</string>
    <key>SM_MSG_000010</key>
    <string>清除盘点商品信息失败!</string>
    <key>SM_MSG_000011</key>
    <string>修改盘点临时表商品信息失败!</string>
    <key>SM_MSG_000012</key>
    <string>获取盘点临时表商品信息失败!</string>
    <key>SM_MSG_000013</key>
    <string>库存正在盘点中，无法进行该操作!</string>
    <key>SM_MSG_000014</key>
    <string>盘点状态查询失败!</string>
    <key>SM_MSG_000015</key>
    <string>盘点已取消或结束，请重新盘点!</string>
    <key>SM_MSG_000016</key>
    <string>部分商品的库存数据还在处理中，请稍后再试!</string>
    <key>SM_MSG_000017</key>
    <string>正在完成盘点，请稍候!</string>
    <key>SM_MSG_000018</key>
    <string>该仓库名重复!</string>
    <key>SM_MSG_000019</key>
    <string>该仓库编号重复!</string>
    <key>SM_MSG_000020</key>
    <string>微店虚拟库存供货折扣率/供货价超过总部设定最高供货折扣率/供货价!</string>
    <key>SM_MSG_000021</key>
    <string>微店虚拟库存数量超过有效值!</string>
    <key>SM_MSG_000022</key>
    <string>开始数量不能大于结束数量!</string>
    <key>SM_MSG_000023</key>
    <string>设置库存数不能大于最小可分配库存!</string>
    <key>SM_MSG_000024</key>
    <string>该机构下已经添加过仓库!</string>
    <key>SM_MSG_000025</key>
    <string>该仓库存在库存记录，不允许删除!</string>
    <key>SM_MSG_000026</key>
    <string>该仓库存在出入库记录，不允许删除!</string>
    
    <key>SC_MSG_000001</key>
    <string>店家名称不能为空，请输入!</string>
    <key>SC_MSG_000002</key>
    <string>店家代码不能为空，请输入!</string>
    <key>SC_MSG_000003</key>
    <string>店家代码已存在，请重新设置!</string>
    <key>SC_MSG_000004</key>
    <string>上级店家不能为空，请输入!</string>
    <key>SC_MSG_000005</key>
    <string>店家类型不能为空，请选择!</string>
    <key>SC_MSG_000006</key>
    <string>所在地区不能为空，请输入!</string>
    <key>SC_MSG_000007</key>
    <string>请选择需要复制的门店!</string>
    <key>SC_MSG_000008</key>
    <string>工号不能为空，请输入!</string>
    <key>SC_MSG_000009</key>
    <string>工号已存在，请重新设置!</string>
    <key>SC_MSG_000010</key>
    <string>请选择员工所属门店!</string>
    <key>SC_MSG_000011</key>
    <string>请选择员工所属角色!</string>
    <key>SC_MSG_000012</key>
    <string>确定要删除店家吗？</string>
    <key>SC_MSG_000013</key>
    <string>此店家已有营业数据，确定要删除吗？</string>
    <key>SC_MSG_000014</key>
    <string>使用期已过或被停用，请与系统服务商联系!</string>
    <key>SC_MSG_000015</key>
    <string>店家名称已经存在，请使用其他名称。</string>
    <key>SC_MSG_000016</key>
    <string>被复制店家商品数据不存在，请重新选择。</string>
    <key>SC_MSG_000017</key>
    <string>该店家存在库存信息，不能删除!</string>
    <key>SC_MSG_000018</key>
    <string>该店家存在订单信息，不能删除!</string>
    <key>SC_MSG_000019</key>
    <string>店家代码不正确，找不到该店家!</string>
    <key>SC_MSG_000020</key>
    <string>该店家尚未初始化，请与软件提供商联系!</string>
    <key>SC_MSG_000021</key>
    <string>该店家的初始密码不正确，请与软件提供商联系!</string>
    <key>SC_MSG_000022</key>
    <string>您的机器硬件发生变动，需要重置绑定信息，请与软件提供商联系!</string>
    <key>SC_MSG_000023</key>
    <string>该店家尚未绑定，请与软件提供商联系!</string>
    <key>SC_MSG_000024</key>
    <string>账户短信数量不足，请充值！</string>
    <key>SC_MSG_000025</key>
    <string>该门店存在下属门店，不能删除!</string>
    <key>SC_MSG_000026</key>
    <string>该门店存在员工，不能删除!</string>
    <key>SC_MSG_000027</key>
    <string>entity名字不能为空!</string>
    <key>SC_MSG_000028</key>
    <string>请选择entity所属省份!</string>
    <key>SC_MSG_000029</key>
    <string>请选择entity所属城市!</string>
    <key>SC_MSG_000030</key>
    <string>请选择entity所属区县!</string>
    <key>SC_MSG_000031</key>
    <string>名字长度不能超过25!</string>
    <key>SC_MSG_000032</key>
    <string>联系人名字长度不能超过25!</string>
    <key>SC_MSG_000033</key>
    <string>手机号码长度只能是11位!</string>
    <key>SC_MSG_000034</key>
    <string>地址长度不能超过125位!</string>
    <key>SC_MSG_000035</key>
    <string>邮编长度只能是6位!</string>
    <key>SC_MSG_000036</key>
    <string>店家名称长度不能超过25位!</string>
    <key>SC_MSG_000037</key>
    <string>店家简称长度不能超过10位!</string>
    <key>SC_MSG_000038</key>
    <string>添加Entity失败!</string>
    <key>SC_MSG_000039</key>
    <string>Entity名字已经存在，请输入其他名字!</string>
    <key>SC_MSG_000040</key>
    <string>当前店家无法登录，请确认店家编号是否正确!</string>
    <key>SC_MSG_000041</key>
    <string>当前时间段内没有过生日的会员，请重新查询!</string>
    <key>SC_MSG_000042</key>
    <string>商户对应密码不正确!</string>
    <key>SC_MSG_000043</key>
    <string>用户添加失败，请重新再试!</string>
    <key>SC_MSG_000044</key>
    <string>只有门店用户才能登录收银机!</string>
    <key>SC_MSG_000045</key>
    <string>复制门店不能选择本门店!</string>
    <key>SC_MSG_000046</key>
    <string>被复制机构商品数据不存在，请重新选择。</string>
    <key>SC_MSG_000047</key>
    <string>该机构不存在!</string>
    <key>SC_MSG_000048</key>
    <string>连锁或者单店类型不存在!</string>
    <key>SC_MSG_000049</key>
    <string>当前商户处于停用状态，无法登录!</string>
    <key>SC_MSG_000050</key>
    <string>找不到微店!</string>
    <key>SC_MSG_000051</key>
    <string>该机构存在员工，不能删除!</string>
    <key>SC_MSG_000052</key>
    <string>当前商户处于未启用状态，无法登录!</string>
    <key>SC_MSG_000053</key>
    <string>机构名称长度不能超过50位!</string>
    <key>SC_MSG_000054</key>
    <string>机构编码长度不能超过16位!</string>
    <key>SC_MSG_000055</key>
    <string>机构编码只能输入字母数字!</string>
    <key>SC_MSG_000056</key>
    <string>微店唯一码最大长度为32!</string>
    <key>SC_MSG_000057</key>
    <string>微店公众号最大长度为32!</string>
    <key>SC_MSG_000058</key>
    <string>微店备注最大长度为255!</string>
    
    <key>MC_MSG_000001</key>
    <string>消息标题不能为空，请输入!</string>
    <key>MC_MSG_000002</key>
    <string>消息内容不能为空，请输入!</string>
    <key>MC_MSG_000003</key>
    <string>该消息已发布，不可删除!</string>
    <key>MC_MSG_000004</key>
    <string>该消息已发布，不可修改!</string>
    <key>MC_MSG_000005</key>
    <string>您没有操作该信息的权限!</string>
    <key>MC_MSG_000006</key>
    <string>该模板名称已被使用，请重新输入!</string>
    <key>MC_MSG_000007</key>
    <string>发布时间必须大于当前时间!</string>
    
    <key>MM_MSG_000001</key>
    <string>请选择性别!</string>
    <key>MM_MSG_000002</key>
    <string>会员名不能为空，请输入!</string>
    <key>MM_MSG_000003</key>
    <string>手机号码不能为空，请输入!</string>
    <key>MM_MSG_000004</key>
    <string>请选择卡类型!</string>
    <key>MM_MSG_000005</key>
    <string>短信发送失败!</string>
    <key>MM_MSG_000006</key>
    <string>短信发送成功!</string>
    <key>MM_MSG_000007</key>
    <string>充值金额不能有小数，请重新输入!</string>
    <key>MM_MSG_000008</key>
    <string>单次兑换的数量不能超过可兑换的总量，请重新输入!</string>
    <key>MM_MSG_000009</key>
    <string>积分不足，请重新选择!</string>
    <key>MM_MSG_000010</key>
    <string>此手机号码已经被使用，请重新输入!</string>
    <key>MM_MSG_000011</key>
    <string>当前卡类型下有会员，无法删除!</string>
    <key>MM_MSG_000012</key>
    <string>此卡类型名称已经存在，请重新输入!</string>
    <key>MM_MSG_000013</key>
    <string>充值优惠赠送金额不匹配!</string>
    <key>MM_MSG_000014</key>
    <string>积分商品已存在!</string>
    <key>MM_MSG_000015</key>
    <string>没有库存数据，不能进行积分兑换!</string>
    <key>MM_MSG_000016</key>
    <string>卡状态非正常，不能进行此操作!</string>
    <key>MM_MSG_000017</key>
    <string>卡余额不足，请先充值!</string>
    <key>MM_MSG_000018</key>
    <string>该短信模版已经被使用，无法删除!</string>
    <key>MM_MSG_000019</key>
    <string>该卡类型已经被设置成升级卡类型，无法删除!</string>
    <key>MM_MSG_000020</key>
    <string>充值失败，请重新确认!</string>
    <key>MM_MSG_000021</key>
    <string>该卡号已存在，请重新输入!</string>
    <key>MM_MSG_000022</key>
    <string>相同手机号码的会员（卡状态：非正常）已存在，是否继续？</string>
    <key>MM_MSG_000023</key>
    <string>红冲金额大于卡内余额，不能进行红冲!</string>
    <key>MM_MSG_000024</key>
    <string>相同卡号或手机号码的会员已存在，不能进行激活!</string>
    <key>MM_MSG_000025</key>
    <string>红冲积分大于卡内积分，不能进行红冲!</string>
    <key>MM_MSG_000026</key>
    <string>该手机号码已存在，不能进行激活!</string>
    <key>MM_MSG_000027</key>
    <string>退卡已成功，请重新确认!</string>
    <key>MM_MSG_000028</key>
    <string>实退金额大于卡内余额，不能进行退卡!</string>
    <key>MM_MSG_000029</key>
    <string>该会员有未处理的订单，无法删除!</string>
    <key>MM_MSG_000030</key>
    <string>该手机号已被其他会员使用!</string>
    <key>MM_MSG_000031</key>
    <string>该会员已经是小伙伴了，请确认后再添加!</string>
    <key>MM_MSG_000032</key>
    <string>最大佣金不能大于从属大伙伴的最大佣金!</string>
    <key>MM_MSG_000033</key>
    <string>账户内还有余额，请先提现再解绑!</string>
    <key>MM_MSG_000034</key>
    <string>积分库存不足，请修改兑换数量!</string>
    <key>MM_MSG_000035</key>
    <string>该卡类型已经被设置成微店默认会员卡类型，无法删除!</string>
    
    <key>MS_MSI_000001</key>
    <string>存在出入库信息，无法关闭供货开关!</string>
    <key>MS_MSI_000002</key>
    <string>机构下不存在仓库，无法打开供货开关!</string>
    <key>MS_MSI_000003</key>
    <string>该机构已被下级选为指定供应商，无法关闭供货开关!</string>
    <key>MS_MSI_000004</key>
    <string>出入库单商品全部删除</string>
    <key>MS_MSI_000005</key>
    <string>出入库单商品部分删除</string>
    
    <key>SG_MSG_000001</key>
    <string>活动名称不能为空，请输入!</string>
    <key>SG_MSG_000002</key>
    <string>开始时间不能为空，请输入!</string>
    <key>SG_MSG_000003</key>
    <string>结束时间不能为空，请输入!</string>
    <key>SG_MSG_000004</key>
    <string>特价不能为空，请输入!</string>
    <key>SG_MSG_000005</key>
    <string>数量不能为空且必须大于0，请输入!</string>
    <key>SG_MSG_000006</key>
    <string>满足金额不能为空且必须大于0，请输入!</string>
    <key>SG_MSG_000007</key>
    <string>换购价不能为空且必须大于0，请输入!</string>
    <key>SG_MSG_000008</key>
    <string>该活动正在进行中，无法删除!</string>
    <key>SG_MSG_000009</key>
    <string>充值金额不能为空，且大于0，请输入!</string>
    <key>SG_MSG_000010</key>
    <string>扣减金额不能为空，且大于0，请输入!</string>
    <key>SG_MSG_000011</key>
    <string>扣减金额不能大于满足金额，请重新输入!</string>
    <key>SG_MSG_000012</key>
    <string>折扣率必须大于0，且不能为空，请输入!</string>
    <key>SG_MSG_000013</key>
    <string>优惠券名称不能为空，请输入!</string>
    <key>SG_MSG_000014</key>
    <string>优惠券数量不能小于0，请输入!</string>
    <key>SG_MSG_000015</key>
    <string>出券条件不能为空，且要大于0的整数，请输入!</string>
    <key>SG_MSG_000016</key>
    <string>使用条件不能为空，且要大于0的整数，请输入!</string>
    <key>SG_MSG_000017</key>
    <string>面额不能为空，且要大于0的整数，请输入!</string>
    <key>SG_MSG_000018</key>
    <string>赠送金额不能为空，请输入!</string>
    <key>SG_MSG_000019</key>
    <string>赠送积分不能为空，请输入!</string>
    <key>SG_MSG_000020</key>
    <string>添加、修改、删除促销活动信息失败!</string>
    <key>SG_MSG_000021</key>
    <string>该活动正在进行中，无法修改!</string>
    
    <key>SS_MSG_000001</key>
    <string>今日的营业数据不能删除!</string>
    <key>SS_MSG_000002</key>
    <string>今日操作记录不能删除!</string>
    <key>SS_MSG_000003</key>
    <string>所有商品库存预警数量设置将被更新为{1}，是否继续执行更新？</string>
    <key>SS_MSG_000004</key>
    <string>所有商品过期提醒天数设置将被更新为{1}，是否继续执行更新？</string>
    <key>SS_MSG_000005</key>
    <string>角色名称不能为空，请选择!</string>
    <key>SS_MSG_000006</key>
    <string>角色名称已存在，请重新输入!</string>
    <key>SS_MSG_000007</key>
    <string>清理之后，数据将不能恢复，确定清理吗？</string>
    <key>SS_MSG_000008</key>
    <string>门店数超过1家时不能设置为单店模式!</string>
    <key>SS_MSG_000009</key>
    <string>小票设置信息获取失败，请联系系统管理员!</string>
    <key>SS_MSG_000010</key>
    <string>没有可用的小票模板，请联系系统管理员!</string>
    <key>SS_MSG_000011</key>
    <string>【1】将于【2】到期，请尽快处理!</string>
    <key>SS_MSG_000012</key>
    <string>【1】剩余库存数量为{1}，请尽快补货!</string>
    <key>SS_MSG_000013</key>
    <string>该角色权限信息不存在!</string>
    <key>SS_MSG_000014</key>
    <string>系统权限信息不存在!</string>
    <key>SS_MSG_000015</key>
    <string>该角色存在员工，不能删除!</string>
    <key>SS_MSG_000016</key>
    <string>密码错误，请重新输入!</string>
    <key>SS_MSG_000017</key>
    <string>系统错误，请联系系统管理员!</string>
    <key>SS_MSG_000018</key>
    <string>该角色存在员工，不能修改角色类型!</string>
    <key>SS_MSG_000019</key>
    <string>仓库存在未完成的出入库单，不能进行数据清理或初始化!</string>
    <key>SS_MSG_000020</key>
    <string>门店存在未完成的出入库单，不能进行数据清理或初始化!</string>
    <key>SS_MSG_000021</key>
    <string>最多只能添加10行尾注！</string>
    <key>SS_MSG_000022</key>
    <string>尾注内容不能输入"$%"字符</string>
    <key>SS_MSG_000023</key>
    <string>品名与货号开关必须有1个是打开的</string>
    
    <key>CD_MSG_000001</key>
    <string>请输入需要退货的单号!</string>
    <key>CD_MSG_000002</key>
    <string>退货单号不存在，请重新输入!</string>
    <key>CD_MSG_000003</key>
    <string>是否要从云端继续下载数据同步到此设备？</string>
    <key>CD_MSG_000004</key>
    <string>确定要上传营业数据到云端吗？</string>
    <key>CD_MSG_000005</key>
    <string>今日的营业数据不能删除!</string>
    <key>CD_MSG_000006</key>
    <string>确定要删除时间1-时间2的营业数据吗？</string>
    <key>CD_MSG_000007</key>
    <string>实退金额不能大于应退金额!</string>
    <key>CD_MSG_000008</key>
    <string>获取数据失败，请检查网络!</string>
    <key>CD_MSG_000009</key>
    <string>编码格式不正确，请重新输入!</string>
    <key>CD_MSG_000010</key>
    <string>邮箱格式不正确，请重新输入!</string>
    <key>CD_MSG_000011</key>
    <string>手机号格式不正确，请重新输入!</string>
    <key>CD_MSG_000012</key>
    <string>验证码输入不正确，请重新输入!</string>
    <key>CD_MSG_000013</key>
    <string>开始日期必须小于等于结束日期，请重新输入!</string>
    <key>CD_MSG_000014</key>
    <string>使用条件不能为空，且必须大于0，请重新输入!</string>
    <key>CD_MSG_000015</key>
    <string>出券条件不能为空，且必须大于0，请重新输入!</string>
    <key>CD_MSG_000016</key>
    <string>该表信息无效!</string>
    <key>CD_MSG_000017</key>
    <string>该活动状态无效!</string>
    <key>CD_MSG_000018</key>
    <string>该活动已过期!</string>
    <key>CD_MSG_000019</key>
    <string>该活动会员专享!</string>
    <key>CD_MSG_000020</key>
    <string>使用条件不满足，无法使用优惠券!</string>
    <key>CD_MSG_000021</key>
    <string>该优惠券已使用或者无效!</string>
    <key>CD_MSG_000022</key>
    <string>优惠券创建失败!</string>
    <key>CD_MSG_000023</key>
    <string>优惠券出券条件不满足，无法出券!</string>
    <key>CD_MSG_000024</key>
    <string>该优惠券不存在!</string>
    <key>CD_MSG_000025</key>
    <string>添加、修改、删除优惠券信息失败!</string>
    <key>CD_MSG_000026</key>
    <string>该活动未开始!</string>
    
    <key>SY_MSG_000001</key>
    <string>同步操作选项不能为空!</string>
    <key>SY_MSG_000002</key>
    <string>绑定码不能为空!</string>
    <key>SY_MSG_000003</key>
    <string>实体Code不能为空!</string>
    <key>SY_MSG_000004</key>
    <string>用户名不能为空!</string>
    <key>SY_MSG_000005</key>
    <string>实体ID不能为空!</string>
    <key>SY_MSG_000006</key>
    <string>门店ID不能为空!</string>
    <key>SY_MSG_000007</key>
    <string>会话ID不能为空!</string>
    <key>SY_MSG_000008</key>
    <string>未登录或Session失效!</string>
    <key>SY_MSG_000009</key>
    <string>错误的实体ID!</string>
    <key>SY_MSG_000010</key>
    <string>错误的门店ID!</string>
    <key>SY_MSG_000011</key>
    <string>错误的绑定码!</string>
    <key>SY_MSG_000012</key>
    <string>要下载的文件名不能为空!</string>
    <key>SY_MSG_000013</key>
    <string>上传成功!</string>
    <key>SY_MSG_000014</key>
    <string>上传失败!</string>
    <key>SY_MSG_000015</key>
    <string>密码不能为空!</string>
    <key>SY_MSG_000016</key>
    <string>下载失败!</string>
    <key>SY_MSG_000017</key>
    <string>同步正在进行中，不能重复请求!</string>
    <key>SY_MSG_000018</key>
    <string>发生未知错误，请稍候重试!</string>
    <key>SY_MSG_000019</key>
    <string>系统繁忙，请稍候再试!</string>
    <key>SY_MSG_000020</key>
    <string>该用户不是门店账号，无法登录!</string>
<!--    <key>SY_MSG_000021</key>-->
<!--    <string></string>-->
    <key>SY_MSG_000022</key>
    <string>需要同步的机构/门店下没有该商品!</string>
    <key>SY_MSG_000023</key>
    <string>需要同步的机构/门店下没有该款式!</string>
    
    <key>MS_CWC_000011</key>
    <string>小伙伴已提申请还未全部提现，不能更改设置。</string>
    
    <key>MS_MSG_000001</key>
    <string>请输入正确的手机号码!</string>
    <key>MS_MSG_000002</key>
    <string>姓名与手机号码不匹配，请重新输入!</string>
    <key>MS_MSG_000003</key>
    <string>该会员卡处于挂失状态，无法绑定!</string>
    <key>MS_MSG_000004</key>
    <string>该会员卡处于注销状态，无法绑定!</string>
    <key>MS_MSG_000005</key>
    <string>该角色已经存在提成信息!</string>
    <key>MS_MSG_000006</key>
    <string>微店销售商品数量已超出!</string>
    <key>MS_MSG_000007</key>
    <string>该店铺不是微店!</string>
    <key>MS_MSG_000008</key>
    <string>微店详情图片不能超过12张!</string>
    <key>MS_MSG_000009</key>
    <string>微店主图不能超过5张!</string>
    <key>MS_MSG_000010</key>
    <string>开始月份应小于结束月份，请重新输入!</string>
    <key>MS_MSG_000011</key>
    <string>用户名与手机号码不匹配!</string>
    <key>MS_MSG_000012</key>
    <string>该用户已绑定其它伙伴!</string>
    <key>MS_MSG_000013</key>
    <string>该实体机构/门店已被其他伙伴绑定!</string>
    <key>MS_MSG_000014</key>
    <string>该大伙伴未开通分销店</string>
    <key>MS_MSG_000015</key>
    <string>订单异常！</string>
    <key>MS_MSG_000016</key>
    <string>无法获取二维码！</string>
    <key>MS_MSG_000017</key>
    <string>系统错误，请先进行微店/微分销基础设置！</string>
    <key>MS_MSG_000018</key>
    <string>微店默认会员卡类型不存在！</string>
    <key>MS_MSG_000019</key>
    <string>无效的微店售价策略！</string>
    <key>MS_MSG_000020</key>
    <string>该小伙伴已经绑定其他大伙伴！</string>
    <key>MS_MSG_000021</key>
    <string>小伙伴的反利率不能为空！</string>
    <key>MS_MSG_000022</key>
    <string>大伙伴、小伙伴账户中的余额不等于0，此时不能关闭微分销开关！</string>
    <key>MS_MSG_000023</key>
    <string>存在处理中的大伙伴、小伙伴的余额提现申请，此时不能关闭微分销开关!</string>
    <key>MS_MSG_000024</key>
    <string>加工和组装商品无法在微店销售！</string>
    <key>MS_MSG_000025</key>
    <string>门店处理机构不存在！</string>
    <key>MS_MSG_000026</key>
    <string>同一机构下订单处理机构只能存在一个！</string>
    <key>MS_MSG_000027</key>
    <string>订单处理机构存在未处理的订单，无法删除！</string>
    <key>MS_MSG_000028</key>
    <string>价格异常，无法下单！</string>
    <key>MS_MSG_000029</key>
    <string>你参加的营销活动已被修改，无法下单！</string>
    <key>MS_MSG_000030</key>
    <string>订单处理机构存在上门自提的“待付款”微店订单，无法删除！</string>
    <key>MS_MSG_000031</key>
    <string>有积分兑换订单正在处理中，不能修改！</string>
    <key>MS_MSG_000032</key>
    <string>未查询到款式信息，请先在款式管理中添加该款式！</string>
    <key>MS_MSG_000033</key>
    <string>请添加关联的商品信息！</string>
    
    <key>BRAND_MSG_000001</key>
    <string>已存在同编码的连锁!</string>
    <key>BRAND_MSG_000002</key>
    <string>其他商户下已存在相同编码的门店，请重新输入!</string>
    <key>BRAND_MSG_000003</key>
    <string>该连锁已经被删除!</string>
    <key>BRAND_MSG_000004</key>
    <string>该连锁旗下有子品牌，不能删除!</string>
    <key>BRAND_MSG_000005</key>
    <string>该连锁旗下有子机构，不能删除!</string>
    <key>BRAND_MSG_000006</key>
    <string>该连锁旗下有子门店，不能删除!</string>
    
    <key>ORG_MSG_000001</key>
    <string>该连锁下已存在同编码的机构，请重新输入!</string>
    <key>ORG_MSG_000002</key>
    <string>该连锁下已存在相同名称的机构，请重新输入!</string>
    <key>ORG_MSG_000003</key>
    <string>该上级机构为四级机构，不能添加下属机构!</string>
    <key>ORG_MSG_000004</key>
    <string>上级机构不能选择部门!</string>
    <key>ORG_MSG_000005</key>
    <string>机构超出层级限制，添加失败!</string>
    <key>ORG_MSG_000006</key>
    <string>该机构已经被他人修改!</string>
    <key>ORG_MSG_000007</key>
    <string>顶级机构不能设置上级机构!</string>
    <key>ORG_MSG_000008</key>
    <string>该上级机构不存在或设置错误!</string>
    <key>ORG_MSG_000009</key>
    <string>该机构已经被删除!</string>
    <key>ORG_MSG_000010</key>
    <string>该机构存在下级机构，不能删除!</string>
    <key>ORG_MSG_000011</key>
    <string>该机构存在下级门店，不能删除!</string>
    
    <key>SHOP_MSG_000001</key>
    <string>id不能为空!</string>
    <key>SHOP_MSG_000002</key>
    <string>实体Id不能为空!</string>
    <key>SHOP_MSG_000003</key>
    <string>门店编码不能为空!</string>
    <key>SHOP_MSG_000004</key>
    <string>店铺已存在，无法添加!</string>
    <key>SHOP_MSG_000005</key>
    <string>店铺不存在!</string>
    <key>SHOP_MSG_000006</key>
    <string>appId修改失败!</string>
    <key>SHOP_MSG_000007</key>
    <string>店铺修改失败!</string>
    <key>SHOP_MSG_000008</key>
    <string>该上级机构不存在或设置错误!</string>
    <key>SHOP_MSG_000009</key>
    <string>该机构已经被删除!</string>
    <key>SHOP_MSG_000010</key>
    <string>该机构存在下级机构，不能删除!</string>
    <key>SHOP_MSG_000011</key>
    <string>该机构存在下级门店，不能删除!</string>
    <key>SHOP_MSG_000012</key>
    <string>该连锁下已存在相同名称的门店，请重新输入!</string>
    <key>SHOP_MSG_000013</key>
    <string>该连锁下已存在相同编号的门店，请重新输入!</string>
    
    <key>EXT_MSG_000001</key>
    <string>第三方店唯一编码已经存在，请重新输入!</string>
    
    <key>SP_MSG_000001</key>
    <string>销售包内的款式不能超过1000件!</string>
    <key>SP_MSG_000002</key>
    <string>满足条件的款式超过上限，请设定更精确的查询条件!</string>
    <key>SP_MSG_000003</key>
    <string>该销售包编号已被使用!</string>
    <key>SP_MSG_000004</key>
    <string>该销售包名称已被使用!</string>
    
    <key>CS_MSG_000001</key>
    <string>查询结果为空!</string>
    <key>CS_MSG_000002</key>
    <string>开始时间必须小于等于结束时间，且结束时间大于等于本日，请重新输入!</string>
    <key>CS_MSG_000003</key>
    <string>该商品库存为0，不能添加!</string>
    <key>CS_MSG_000004</key>
    <string>无此功能修改权限!</string>
    <key>CS_MSG_000005</key>
    <string>无此功能查看权限!</string>
    <key>CS_MSG_000006</key>
    <string>充值金额必须为大于或50元的整数!</string>
    <key>CS_MSG_000007</key>
    <string>折扣率不能大于100!</string>
    <key>CS_MSG_000008</key>
    <string>折扣不能大于100，请重新输入!</string>
    <key>CS_MSG_000009</key>
    <string>折扣不能为负，请重新输入!</string>
    <key>CS_MSG_000010</key>
    <string>折扣不能为0，请重新输入!</string>
    <key>CS_MSG_000011</key>
    <string>该数据已被别人修改或删除!</string>
    <key>CS_MSG_000012</key>
    <string>输入参数为空或格式不正确，请重试!</string>
    <key>CS_MSG_000013</key>
    <string>调用服务时的参数不正确!</string>
    <key>CS_MSG_000014</key>
    <string>服务器开小差了，请稍后再试！</string>
    <key>CS_MSG_000015</key>
    <string>开始日期不能为空，请重新输入!</string>
    <key>CS_MSG_000016</key>
    <string>结束日期不能为空，请重新输入!</string>
    <key>CS_MSG_000017</key>
    <string>开始日期必须小于等于结束日期，且结束日期大于等于本日，请重新输入!</string>
    <key>CS_MSG_000018</key>
    <string>上传的文件类型不支持!</string>
    <key>CS_MSG_000019</key>
    <string>会话状态失效，请重新登录!</string>
    <key>CS_MSG_000020</key>
    <string>添加数据重复</string>
    <key>CS_MSG_000021</key>
    <string>机器系统时间不准确，请校准时间之后再操作!</string>
    <key>CS_MSG_000022</key>
    <string>有门店正在复制商品数据，请稍等!</string>
    <key>CS_MSG_000023</key>
    <string>有门店正在导入商品数据，请稍等!</string>
    <key>CS_MSG_000024</key>
    <string>该门店正在导入商品数据，请稍等!</string>
    <key>CS_MSG_000025</key>
    <string>该门店正在复制商品数据，请稍等!</string>
    <key>CS_MSG_000026</key>
    <string>有门店正在导入库存数据，请稍等!</string>
    <key>CS_MSG_000027</key>
    <string>该门店/仓库正在导入库存数据，请稍等!</string>
    <key>CS_MSG_000028</key>
    <string>有门店正在库存盘点!</string>
    <key>CS_MSG_000029</key>
    <string>距上一次手动生成日报表不满1小时!</string>
    <key>CS_MSG_000030</key>
    <string>距上一次手动生成月报表不满24小时!</string>
    <key>CS_MSG_000031</key>
    <string>有门店正在清理数据，请稍等!</string>
    <key>CS_MSG_000032</key>
    <string>该门店/仓库正在清理数据，请稍等!</string>
    <key>CS_MSG_000033</key>
    <string>有门店正在初始化数据，请稍等!</string>
    <key>CS_MSG_000034</key>
    <string>该门店/仓库正在初始化数据，请稍等!</string>
    <key>CS_MSG_000035</key>
    <string>上次的请求还在处理，不能重复操作!</string>
    <key>CS_MSG_000036</key>
    <string>该门店正在库存盘点，请稍等!</string>
    <key>CS_MSG_000037</key>
    <string>不支持表情符号，请重新输入!</string>
    
    <key>SA_MSG_000001</key>
    <string>促销活动结束时间不能小于当前时间!</string>
    <key>SA_MSG_000002</key>
    <string>促销活动结束时间不能小于活动开始时间!</string>
    <key>SA_MSG_000003</key>
    <string>促销门店数量已达到上限，请先删除再添加!</string>
    <key>SA_MSG_000004</key>
    <string>会员生日促销规则已存在，不能再进行添加操作!</string>
    <key>SA_MSG_000005</key>
    <string>修改操作中，主键id与版本号不能为空!</string>
    <key>SA_MSG_000006</key>
    <string>在物理删除中相关参数不能为空!</string>
    <key>SA_MSG_000007</key>
    <string>促销活动编号唯一，不能重复!</string>
    <key>SA_MSG_000008</key>
    <string>捆绑、第N件的促销规则不能为空!</string>
    <key>SA_MSG_000009</key>
    <string>款式下需要有商品!</string>
    <key>SA_MSG_000010</key>
    <string>适用实体门店开关和适用微店开关必须有一个打开!</string>
    <key>SA_MSG_000011</key>
    <string>该活动在进行中，不允许删除!</string>
    <key>SA_MSG_000012</key>
    <string>一览中的款式数量不能超过1000!</string>
    <key>SA_MSG_000013</key>
    <string>一览中的商品数量不能超过1000!</string>
    <key>SA_MSG_000014</key>
    <string>促销规则不存在!</string>
    <key>SA_MSG_000015</key>
    <string>出券条件(购买数量)、出券条件(购买金额)不能同时为空!</string>
    <key>SA_MSG_000016</key>
    <string>使用条件(购买数量)、使用条件(购买金额)不能同时为空!</string>
    <key>SA_MSG_000017</key>
    <string>没有查找到优惠劵的商户信息，不能添加关联信息!</string>
    <key>SA_MSG_000018</key>
    <string>优惠劵信息不存在!</string>
    <key>SA_MSG_000019</key>
    <string>特价款式信息不存在，不能进行删除!</string>
    <key>SA_MSG_000020</key>
    <string>活动信息不存在，不能进行删除!</string>
    <key>SA_MSG_000021</key>
    <string>规则信息最多添加6条!</string>
<!--    <key>SA_MSG_000022</key>-->
<!--    <string></string>-->
<!--    <key>SA_MSG_000023</key>-->
<!--    <string></string>-->
<!--    <key>SA_MSG_000024</key>-->
<!--    <string></string>-->
<!--    <key>SA_MSG_000025</key>-->
<!--    <string></string>-->
<!--    <key>SA_MSG_000026</key>-->
<!--    <string></string>-->
<!--    <key>SA_MSG_000027</key>-->
<!--    <string></string>-->
<!--    <key>SA_MSG_000028</key>-->
<!--    <string></string>-->
    <key>SA_MSG_000029</key>
    <string>包含款数不能大于折扣率设置的最大件数!</string>
    <key>SA_MSG_000030</key>
    <string>包含款数不能大于购买数量!</string>
    <key>SA_MSG_000031</key>
    <string>包含款数不能大于出券条件(购买数量)!</string>
    <key>SA_MSG_000032</key>
    <string>赠送款式下的商品已经存在，不能重复赠送!</string>
    <key>SA_MSG_000033</key>
    <string>赠送商品的所属的款式已经存在，不能重复赠送!</string>
    <key>SA_MSG_000034</key>
    <string>赠送的款式已经存在，不能重复赠送!</string>
    <key>SA_MSG_000035</key>
    <string>赠送的商品已经存在，不能重复赠送!</string>
<!--    <key>SA_MSG_000036</key>-->
<!--    <string></string>-->
    <key>SA_MSG_000037</key>
    <string>按条件选择款式时，选择的款式数量不能大于1000!</string>
    <key>SA_MSG_000038</key>
    <string>查询条件中款号不能超过50款!</string>
    <key>SA_MSG_000039</key>
    <string>绑定的会员卡不能为空！</string>
    
    <key>BU_PAY_000001</key>
    <string>支付方式名称不能重复!</string>
    <key>BU_PAY_000002</key>
    <string>支付类型已经保存过!</string>
    
    <key>MS_CWC_000010</key>
    <string>该银行卡账户信息已经存在，不能重复添加!</string>
    
    <key>CS_MSG_000038</key>
    <string>账户余额不足</string>
    
    <key>MA_MSG_000001</key>
    <string>此店家没有入驻园区，不能扫码支付！</string>
    <key>MA_MSG_000002</key>
    <string>此店家入驻园区已到期，不能扫码支付！</string>
    
    <key>SM_MSG_000026</key>
    <string>仓库存在未处理完成的出入库单，不能删除!</string>
    <key>SM_MSG_000029</key>
    <string>只有开启了营业-系统参数中的“启用实体门店积分商品库存”开关，设置的积分商品库存才能生效。</string>
    <key>SM_MSG_000030</key>
    <string>只有开启了微店-微店设置中的“启用微店积分商品库存”开关，设置的积分商品库存才能生效。</string>
    
    <key>MD_MSG_00001</key>
    <string>存在待处理的销售订单，不能修改分销余利归属大伙伴开关!</string>
    <key>MD_MSG_00002</key>
    <string>该大伙伴尚有下线小伙伴，暂不能删除！</string>
    <key>MD_MSG_00003</key>
    <string>该大伙伴尚有账户余额未提现，暂不能删除！</string>
    <key>MD_MSG_00004</key>
    <string>该用户已经是大伙伴，请确认后再加！</string>
    <key>MD_MSG_00005</key>
    <string>该员工是大伙伴，不允许删除!</string>
    <key>MD_MSG_00006</key>
    <string>该会员是小伙伴，不允许删除!</string>
    <key>MD_MSG_00007</key>
    <string>该员工隶属总部，不能成为大伙伴！</string>
    <key>MD_MSG_00008</key>
    <string>最大佣金不能小于小伙伴的最大佣金！</string>
    <key>MD_MSG_00009</key>
    <string>该手机已经是大伙伴，请确认后再加！</string>
    <key>MD_MSG_00010</key>
    <string>用户名不可与超级管理员重复，请更改！</string>
    <key>MD_MSG_00011</key>
    <string>该员工是大伙伴，不允许更改所属机构/门店</string>
    
    <key>MM_MSG_000036</key>
    <string>该会员卡存在余额，无法删除！</string>
    
    <key>OR_MNG_000001</key>
    <string>不存在未处理的供货订单，无法重新分单!</string>
    <key>OR_MNG_000002</key>
    <string>供货单状态已被修改，无法重新分单!</string>
    <key>OR_MNG_000003</key>
    <string>订单已被修改或删除，请刷新后重新操作!</string>
<!--    <key>OR_MNG_000004</key>-->
<!--    <string></string>-->
    <key>OR_MNG_000005</key>
    <string>存在不能处理订单的门店或仓库，请重新分单!</string>
    <key>OR_MNG_000006</key>
    <string>销售订单不存在，请刷新后重试!</string>
    <key>OR_MNG_000007</key>
    <string>有门店或仓库库存信息不存在，无法分单!</string>
    <key>OR_MNG_000008</key>
    <string>存在处理门店的商品供货数量不足，无法分单！</string>
    <key>OR_MNG_000009</key>
    <string>创建退货单失败，请稍后操作！</string>
    
    <key>MS_CWC_000001</key>
    <string>余额提现详情不存在！</string>
    <key>MS_CWC_000002</key>
    <string>伙伴信息不存在！</string>
    <key>MS_CWC_000003</key>
    <string>伙伴账户余额信息不存在！</string>
    <key>MS_CWC_000004</key>
    <string>余额不足不能提现！</string>
    <key>MS_CWC_000005</key>
    <string>银行账户信息不存在！</string>
    <key>MS_CWC_000006</key>
    <string>余额提现状态不是未审核，不能操作！</string>
    <key>MS_CWC_000007</key>
    <string>您目前的账户被冻结，需要激活后才能申请提现。</string>
    <key>MS_CWC_000008</key>
    <string>存在未审核的提现申请，不能再申请，请确认提现记录。</string>
    <key>MS_CWC_000009</key>
    <string>门店账户余额信息不存在！</string>
    <key>MS_CWC_000010</key>
    <string>该银行卡账户信息已经存在，不能重复添加！</string>
    
    <key>OR_MNG_000004</key>
    <string>有门店的微店虚拟库存状态异常，无法分单！</string>
    <key>OR_MNG_000005</key>
    <string>库存数是“无”的商品在分配的处理门店不存在，无法分单！</string>
    
    <key>CS_MSG_000039</key>
    <string>有销售订单正在处理中，不能修改！</string>
    
    <key>SM_MSG_000031</key>
    <string>积分商品兑换仓库未设置，请先在微店-微店设置中设置积分商品兑换仓库。</string>
    
    <key>FZ_MSG_00001</key>
    <string>查询指定天电子支付订单分页列表失败。</string>
    <key>FZ_MSG_00002</key>
    <string>根据第三方流水号查询支付流水失败。</string>
    <key>FZ_MSG_00004</key>
    <string>订单信息获取失败。</string>
    <key>FZ_MSG_00005</key>
    <string>查询微信支付状态、支付宝开通状态失败。</string>
    
    <key>BU_PAY_000004</key>
    <string>不能添加含有中括号的支付方式。</string>
    
    <key>SG_MSG_000023</key>
    <string>当启用微分销时，启用微店虚拟库存必须打开!</string>
    
    <key>ZZ_MSG_000001</key>
    <string>开店失败，请重新提交开店信息或者联系二维火客服人员！</string>
    <key>ZZ_MSG_000002</key>
    <string>小票设置可以动态设置了，请更新到最新版再使用哦～</string>
    <key>ZZ_MSG_000003</key>
    <string>初始化不再区分门店了，请更新到最新版再使用哦～</string>
    <key>ZZ_MSG_000004</key>
    <string>短信模块升级了，请更新到最新版再使用哦～</string>
    
    <key>MM_MSG_000035</key>
    <string>微店商品已有10000件，不能添加更多的微店商品！</string>
    <key>MM_MSG_000036</key>
    <string>一键上架微店商品正在进行中，暂时无法进行该操作！</string>
    <key>MM_MSG_000037</key>
    <string>营销短信充值处理失败！</string>
    <key>MM_MSG_000038</key>
    <string>短信充值支付账单获取失败！</string>
    <key>MS_MSG_000036</key>
    <string>一键上架微店商品正在进行中，暂时无法进行该操作！</string>
    <key>MS_MSG_000035</key>
    <string>微店商品已有10000件，不能添加更多的微店商品！</string>
    
    <key>GM_MSG_000077</key>
    <string>条形码存在特殊字符，请重新输入！</string>
    <key>GM_MSG_000078</key>
    <string>商品名称存在特殊字符，请重新输入！</string>
    <key>GM_MSG_000079</key>
    <string>款号存在特殊字符，请重新输入！</string>
    <key>GM_MSG_000080</key>
    <string>款式名称存在特殊字符，请重新输入！</string>
    
    <key>BU_PAY_000005</key>
    <string>已存在相同类型的支付方式！</string>
    
    <key>ZZ_MSG_000005</key>
    <string>因短信模板升级，需要更改模板才成功！</string>
    
    <key>SS_MSG_000024</key>
    <string>该功能升级了，请更新到最新版再使用哦～</string>
    
    <key>SM_MSG_000028</key>
    <string>商品没有库存信息，操作失败！</string>
    <key>SM_MSG_000033</key>
    <string>组装商品和加工商品不能调整库存！</string>
    
    <key>SM_MSG_000034</key>
    <string>组装、加工商品不支持调整库存数量！</string>
    <key>SM_MSG_000035</key>
    <string>拆分、组装、加工的商品在销售时扣减的是小件商品的库存成本，所以不支持调整大件商品的成本价！</string>
</dict>
</plist>
